// Файл обнуляющих стилей
@import "nullstyle";
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v23-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v23-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-style: normal;
  font-family: "Lato";
  color: #102746;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  background: #fff;
}
.main-Wrapper {
  min-width: 100%;
  overflow: hidden;
}
.title {
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  color: #102746;
}

/* header-styale start*/
.header {
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 0;
  width: 100%;
  &__logo-link {
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    transition: all 0.5s ease 0s;
  }
  &__link:hover,
  &__link:focus,
  &__link:active {
    transform: scale(1.2);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__list-item {
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__nav {
    flex: 0 1 50%;
  }
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
}
/* header-styale end*/

/*section-style start*/
.main {
  min-height: 962px;
  background: url("/img/mainFoto.jpg") center no-repeat;
  background-size: cover;
}
.intro {
  max-height: 960px;
  padding: 300px 0 0 0;

  &__content {
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    max-width: 546px;
    margin-bottom: 60px;
    @media (max-width: 770px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__form {
    @media (max-width: 770px) {
      font-size: 25px;
      line-height: 30px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__form-submit {
    background: #1b7dff;
    font-size: 24px;
    font-weight: 500;
    width: 170px;
    height: 60px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
  }
  &__form-submit:hover,
  &__form-submit:active,
  &__form-submit:focus {
    transform: scale(1.1);
  }

  &__input {
    background: url("/img/Oval.png") left center/20px no-repeat, transparent;
    width: 300px;
    height: 68px;
    color: #fff;
    padding-left: 3rem;
    font-size: 18px;
    border-bottom: 3px solid #fff;
    margin-right: 60px;
    margin-bottom: 30px;
  }
  &__input::placeholder {
    color: #fff;
  }
  @media (max-width: 770px) {
    padding: 190px 0 0 0;
  }
}
h1 {
  max-width: 620px;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 22px;
}

/*section-style end*/

/*section-service start*/

.service {
  padding: 0 30px;

  &__container {
    background: #fff;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    margin: 0 auto 130px;
    padding: 30px 0 110px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1262px;
    @media (max-width: 770px) {
      padding: 0;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    position: absolute;
    background: #fff;
    transform: translateY(-100%);
    @media (max-width: 770px) {
      height: 130px;
    }
  }
  &__title {
    flex: 1 1 auto;
    max-width: 1060px;
    padding: 0 30px;
    @media (max-width: 770px) {
      font-size: 30px;
    }
  }

  &__row-card {
    display: flex;
    @media (max-width: 770px) {
      flex-wrap: wrap;
    }
  }

  &__card {
    flex: 0 1 33.333%;
    transition: all 0.5s ease 0s;

    &:nth-child(2) {
      margin: 0 50px;
    }
    &:hover {
      transform: scale(1.1);
    }
    @media (max-width: 770px) {
      flex: 0 1 auto;
      margin: 0 25px 30px 25px;
      &:nth-child(2) {
        margin: 0 25px 30px 25px;
      }
    }
  }
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__icon {
    margin-bottom: 37px;
  }

  &__title {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    flex: 1 0 auto;
    @media (max-width: 770px) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__button a {
    margin-top: auto;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    width: 160px;
    background: url("/img/Shape.png") right center no-repeat;
    transition: all 0.8s ease 0s;
  }

  &__button a:hover {
    transform: translate(20%, 0);
  }
}

/*section-service end*/

/*section-foto start*/

.foto {
  padding: 0 30px;
  margin-bottom: 130px;
  @media (max-width: 770px) {
    margin-bottom: 80px;
  }
  &__wrapper {
    max-width: 1265px;
    margin: 0 auto;
  }
  &__head {
    color: #102746;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 770px) {
      justify-content: center;
      margin: auto;
    }
  }

  &__title {
    flex: 1 1 auto;
    max-width: 460px;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
    border-bottom: 2px solid #006dfe;
    padding-bottom: 7px;
    margin-bottom: 15px;
    margin-right: 50px;
    @media (max-width: 770px) {
      margin-right: 0;
      font-size: 25px;
      line-height: 28px;
      text-align: center;
    }
  }

  &__button a {
    margin: 10px 0;
    height: 24px;
    width: 130px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    color: #006dfe;
    background: url("/img/Shape.png") right center no-repeat;
    transition: all 0.8s ease 0s;
  }

  &__button a:hover {
    transform: translate(20%, 0);
  }

  &__rowFirst {
    display: flex;
    @media (max-width: 770px) {
      flex-wrap: wrap;
    }
  }

  &__rowFirst-item img {
    flex: 1 1 auto;
    object-fit: cover;
    width: 100%;
    @media (max-width: 680px) {
      flex: 0 1 100%;
    }
  }

  &__rowSecond {
    display: flex;
    height: 100%;
    @media (max-width: 770px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__rowSecond-item img {
    flex: 1 1 auto;
    object-fit: cover;
    width: 100%;
  }
}

.fotoUp {
  transition: all 0.5s ease 0s;
}
.fotoUp:hover {
  transform: translate(0, -10px);
}

/*section-foto end*/

/*section-focus start*/

.focus {
  padding: 0 30px;
  &__wrapper {
    max-width: 1265px;
    margin: auto;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 770px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    &:last-child {
      @media (max-width: 770px) {
        flex-wrap: wrap-reverse;
      }
    }
  }

  &__row-block {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    display: flex;
    @media (max-width: 770px) {
      margin-bottom: 30px;
    }
  }
  &__row-block img {
    flex: 1 1 auto;
    object-fit: cover;
    width: 100%;
  }
  &__content {
    margin: 0 15px;
    padding: 0 -15px;
    max-width: 520px;
  }
  &__title {
    margin-bottom: 85px;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    @media (max-width: 770px) {
      margin-bottom: 50px;
    }
  }

  &__text {
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    @media (max-width: 770px) {
      margin-bottom: 35px;
    }
  }

  &__button a {
    height: 24px;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006dfe;
    padding-right: 63px;
    background: url("/img/Shape.png") right center no-repeat;
    transition: all 0.8s ease 0s;
  }

  &__button a:hover {
    transform: translate(20%, 0);
  }
}

/*section-focus end*/

.footer {
  background: #0e1d28;
  max-height: 370px;
  padding: 120px 0;
  @media (max-width: 770px) {
    height: fit-content;
    padding: 0 0 60px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 770px) {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
  }
  &__col {
    display: flex;
    @media (max-width: 770px) {
      margin-top: 30px;
    }
  }

  &__logo {
    flex: 0 1 auto;
    min-width: 100px;
    margin-right: 50px;
    @media (max-width: 770px) {
      margin-right: 0;
    }
  }

  &__logo img {
    object-fit: cover;
    width: 100%;
  }

  &__list {
    margin-left: 140px;
    @media (max-width: 770px) {
      margin: 0;
      &:nth-child(2) {
        margin: 0 35px;
      }
    }
  }

  &__link {
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    transition: all 0.8s ease 0s;

    @media (max-width: 770px) {
      font-size: 16px;
      line-height: 20px;
    }
    & a {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      @media (max-width: 770px) {
        font-size: 12px;
        line-height: 14px;
      }
    }
    &:hover {
      transform: translate(10px, 0);
    }
  }
}
