@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato-v23-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v23-latin-900.woff2") format("woff2"), url("../fonts/lato-v23-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-style: normal;
  font-family: "Lato";
  color: #102746;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  background: #fff;
}

.main-Wrapper {
  min-width: 100%;
  overflow: hidden;
}

.title {
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  color: #102746;
}

/* header-styale start*/
.header {
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 0;
  width: 100%;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__link:hover, .header__link:focus, .header__link:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
}

/* header-styale end*/
/*section-style start*/
.main {
  min-height: 962px;
  background: url("/img/mainFoto.jpg") center no-repeat;
  background-size: cover;
}

.intro {
  max-height: 960px;
  padding: 300px 0 0 0;
}

.intro__text {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 546px;
  margin-bottom: 60px;
}

@media (max-width: 770px) {
  .intro__text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 770px) {
  .intro__form {
    font-size: 25px;
    line-height: 30px;
  }
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__form-submit {
  background: #1b7dff;
  font-size: 24px;
  font-weight: 500;
  width: 170px;
  height: 60px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.intro__form-submit:hover, .intro__form-submit:active, .intro__form-submit:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro__input {
  background: url("/img/Oval.png") left center/20px no-repeat, transparent;
  width: 300px;
  height: 68px;
  color: #fff;
  padding-left: 3rem;
  font-size: 18px;
  border-bottom: 3px solid #fff;
  margin-right: 60px;
  margin-bottom: 30px;
}

.intro__input::-webkit-input-placeholder {
  color: #fff;
}

.intro__input:-ms-input-placeholder {
  color: #fff;
}

.intro__input::-ms-input-placeholder {
  color: #fff;
}

.intro__input::placeholder {
  color: #fff;
}

@media (max-width: 770px) {
  .intro {
    padding: 190px 0 0 0;
  }
}

h1 {
  max-width: 620px;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 22px;
}

/*section-style end*/
/*section-service start*/
.service {
  padding: 0 30px;
}

.service__container {
  background: #fff;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  margin: 0 auto 130px;
  padding: 30px 0 110px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 1262px;
}

@media (max-width: 770px) {
  .service__container {
    padding: 0;
  }
}

.service__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200px;
  position: absolute;
  background: #fff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (max-width: 770px) {
  .service__head {
    height: 130px;
  }
}

.service__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 1060px;
  padding: 0 30px;
}

@media (max-width: 770px) {
  .service__title {
    font-size: 30px;
  }
}

.service__row-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 770px) {
  .service__row-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.service__card:nth-child(2) {
  margin: 0 50px;
}

.service__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 770px) {
  .service__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 25px 30px 25px;
  }
  .service__card:nth-child(2) {
    margin: 0 25px 30px 25px;
  }
}

.card {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__icon {
  margin-bottom: 37px;
}

.card__title {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.card__text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media (max-width: 770px) {
  .card__text {
    font-size: 12px;
    line-height: 18px;
  }
}

.card__button a {
  margin-top: auto;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  width: 160px;
  background: url("/img/Shape.png") right center no-repeat;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.card__button a:hover {
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
}

/*section-service end*/
/*section-foto start*/
.foto {
  padding: 0 30px;
  margin-bottom: 130px;
}

@media (max-width: 770px) {
  .foto {
    margin-bottom: 80px;
  }
}

.foto__wrapper {
  max-width: 1265px;
  margin: 0 auto;
}

.foto__head {
  color: #102746;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 770px) {
  .foto__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
}

.foto__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 460px;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  border-bottom: 2px solid #006dfe;
  padding-bottom: 7px;
  margin-bottom: 15px;
  margin-right: 50px;
}

@media (max-width: 770px) {
  .foto__title {
    margin-right: 0;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
  }
}

.foto__button a {
  margin: 10px 0;
  height: 24px;
  width: 130px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #006dfe;
  background: url("/img/Shape.png") right center no-repeat;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.foto__button a:hover {
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
}

.foto__rowFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 770px) {
  .foto__rowFirst {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.foto__rowFirst-item img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (max-width: 680px) {
  .foto__rowFirst-item img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.foto__rowSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 770px) {
  .foto__rowSecond {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.foto__rowSecond-item img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.fotoUp {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.fotoUp:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

/*section-foto end*/
/*section-focus start*/
.focus {
  padding: 0 30px;
}

.focus__wrapper {
  max-width: 1265px;
  margin: auto;
}

.focus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 770px) {
  .focus__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 770px) {
  .focus__row:last-child {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

.focus__row-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  display: flex;
}

@media (max-width: 770px) {
  .focus__row-block {
    margin-bottom: 30px;
  }
}

.focus__row-block img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.focus__content {
  margin: 0 15px;
  padding: 0 -15px;
  max-width: 520px;
}

.focus__title {
  margin-bottom: 85px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 770px) {
  .focus__title {
    margin-bottom: 50px;
  }
}

.focus__text {
  margin-bottom: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 770px) {
  .focus__text {
    margin-bottom: 35px;
  }
}

.focus__button a {
  height: 24px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  padding-right: 63px;
  background: url("/img/Shape.png") right center no-repeat;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.focus__button a:hover {
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
}

/*section-focus end*/
.footer {
  background: #0e1d28;
  max-height: 370px;
  padding: 120px 0;
}

@media (max-width: 770px) {
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 0 60px 0;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 770px) {
  .footer__container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 770px) {
  .footer__col {
    margin-top: 30px;
  }
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-width: 100px;
  margin-right: 50px;
}

@media (max-width: 770px) {
  .footer__logo {
    margin-right: 0;
  }
}

.footer__logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.footer__list {
  margin-left: 140px;
}

@media (max-width: 770px) {
  .footer__list {
    margin: 0;
  }
  .footer__list:nth-child(2) {
    margin: 0 35px;
  }
}

.footer__link {
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

@media (max-width: 770px) {
  .footer__link {
    font-size: 16px;
    line-height: 20px;
  }
}

.footer__link a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 770px) {
  .footer__link a {
    font-size: 12px;
    line-height: 14px;
  }
}

.footer__link:hover {
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}
